@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  
  .no-display-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .carousel-center{
    scroll-snap-align: start;
  }

  .hidden-highlight {
    -webkit-tap-highlight-color: transparent;
  }
}